#tooltip {
	padding:10px;
	background-color:#BBB;
	border:3px solid #F9A200;
	font-size:13px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color:#000;
	z-index:2000;
	max-width:300px;
	box-shadow: 3px 3px 5px #000;
}

.tooltip {
	cursor:pointer;
	width:15px;
	height:15px;
}