@charset "iso-8859-1";
/* Für den Internet Explorer spezifische Styles */
.ie_warning { display:inline; border:#F00 1px solid; background-color:#EEE; font-size:10px; position:fixed; top:0px; right:0px; text-align:center; padding:3px; }